/* ------------------------------------------
   tools.clearfix
------------------------------------------ */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}


/* ------------------------------------------
   generic.reset
------------------------------------------ */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------
   generic.normalize

   only some parts
   git.io/normalize
------------------------------------------ */


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: 900;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}


/* ------------------------------------------
   base.body
------------------------------------------ */

body {
  background-color: #f7f7f7;
  font-family: Lato, 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

/* reset our bold font weight to 900*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

strong {
  font-weight: 900;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}


/* ------------------------------------------
   object.wrap
------------------------------------------ */

.wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap--header {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap--large {
  /*max-width: 1200px;*/
}



/* ------------------------------------------
   component.global-header
------------------------------------------ */

.global-header {

  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.logo {
  display: inline-block;
  margin-bottom: 5px;
}

.header__social {
  margin-top: 5px;
}

.header__social .fb-like {
  position: relative;
  top: -3px;
  margin-right: 10px;
}

.header__social .twitter-share-button {
  width: 85px !important;
}

@media screen and (min-width: 768px) {
  .global-header {
    min-height: 100px;
    text-align: left;
  }

  .logo {
    float: left;
  }

  .header__social {
    float: right;
  }
}

/* ------------------------------------------
   component.hero
------------------------------------------ */

.hero {
  padding: 100px 0;
}

.hero__title {
  display: block;
  text-transform: uppercase;
  font-size: 1.8rem;
}


.hero p {
  display: block;
  font-size: 1.1rem;
  line-height: 1.6;
}
  @media screen and (min-width: 768px) {
    .hero__title {
      float: left;
      width: 40%;
    }
    .hero p {
      float: right;
      width: 55%;
    }
  }




/* ------------------------------------------
   component.ideas-list
------------------------------------------ */

.ideas {
  margin-bottom: 200px;
}

.ideas-list {
  list-style: none;
  counter-reset: ideas-counter;
}

.ideas-list__item {
  position: relative;
  margin-bottom: 20px;
  counter-increment: section;
}

.ideas-list__item:before {
  content: counter(ideas-counter);
  counter-increment: ideas-counter;
  color: #EBEBEB;
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  left: -93px;
  top: 15px;
  display: block;
  text-align: right;
  width: 100px;
}


.ideas-list__item__inner {
  min-height: 100px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;
  outline: none;
}

.ideas-list__item__content {
  padding-left: 65px;
}

@media screen and (min-width: 768px) {
  .ideas-list__item__content {
    padding-left: 150px;
  }
}


.ideas-list__item__name {
  font-size: .8rem;
  font-weight: 900;
  letter-spacing: .05em;
  text-transform: uppercase;
  display: inline-block;
}

.ideas-list__item__title {
  display: inline-block;
  color: #888888;
  font-style: italic;
  font-size: .8rem;
  letter-spacing: .02em;
  position: relative;
  top: -1px;
}

.ideas-list__item__title:before {
  content: '| ';
  margin-left: 2px;
}

.ideas-list__item__meta {

}
.ideas-list__item__heading {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .ideas-list__item__heading {
    font-size: 1.7rem;
  }
}

.ideas-list__item__heading:after {
  position: absolute;
  width: 99%;
  height: 1px;
  left: 1%;
  padding-top: 20px;
  display: block;
  content: '';
  border-bottom: 1px solid #EAEAEA;
}

.ideas-list__item__img {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50px;
  border-radius: 100px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);

}

@media screen and (min-width: 768px) {
  .ideas-list__item__img {
    max-width: 87.5px;
  }
}

.ideas-list__item:nth-child(2n+2) .ideas-list__item__img {

}
.ideas-list__item:hover .ideas-list__item__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}




/* ------------------------------------------
   component.article
------------------------------------------ */

.article__content {
  /*padding-top: 80px;*/
  /*padding-right: 500px;*/
  /*margin-bottom: 200px;*/
}

.article__content h1 {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.1;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .article__content h1 {
    font-size: 2.4rem;
  }
}

.article__content p {
  font-size: .9rem;
  margin-bottom: .8em;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .article__content p {
    font-size: 1.1rem;
  }
}

.article__content a {
  color: #000;
}

.article__content a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

.article__content ul,
.article__content ol {
  font-size: 1.2rem;
  margin-bottom: 1em;
  margin-left: 1.3em;
}


.article__author {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 30px;
}

.article__author__img {
  max-width: 130px;
  border-radius: 130px;
}

p.article__author__name {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: 0;
}

p.article__author__title {
  color: #888888;
  font-style: italic;
  font-size: .8rem;
  letter-spacing: .02em;
  position: relative;
  top: -1px;
}

.article__social {
  margin-top: 30px;
  text-align: center;
}

.article__social .fb-like {
  position: relative;
  top: -3px;
  margin-right: 10px;
}